<!DOCTYPE html>
<html>
</html>
<head>
<link rel="stylesheet" href="/style.css" /></head>
h1{
font family:frutiger;
color;Green;
}
 h2{
  font-family: verdana;
  color:purple;
}
p{
 font-family: verdana;
}





